# LLM API Keys
OPENROUTER_API_KEY=Vr+7LrhdfWDo4npBI6LQYj30jg2AXBsurk+yiwENomAf4lDJ2/sheEEgYqLdsW4IN+eI9g1y4gBMQEIUUCBCYA==
# OPENAI_API_KEY=your-api-key
ANTHROPIC_API_KEY=your-api-key
GOOGLE_API_KEY=your-api-key
XAI_API_KEY=your-api-key

# Ollama (Local LLM)
OLLAMA_BASE_URL=http://127.0.0.1:11434

# Stock Market API Key
FINANCIAL_DATASETS_API_KEY=0dddd250-2d5b-42a6-929e-ee46146338e1

# Web Search API Key
TAVILY_API_KEY=your-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

# LangSmith 
LANGSMITH_API_KEY=your-api-key
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=dexter
LANGSMITH_TRACING=true
